body {
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-around;
}

h2 {
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

p {
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  height: 45vh;
}

/* Profile Content Styling */

.profile {
  display: flex;
  justify-content: center;
}

.profileContent {
  width: 90%;
  height: 45vh;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border: 2px solid #bfc0c0;
  padding: 0 2rem;
  background-color: black;
}


.profileText {
  font-size: 2rem;
  margin: 0 3rem;
}

.profileContent img {
  max-width: 4 0%;
  height: 85%;
  border-radius: 1%;
  border: solid 1px black

}

/* button styles */

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #bfc0c0;
  margin: 20px 20px 20px 20px;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #bfc0c0;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-6 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-6 a {
  position: relative;
  transition: all 0.45s ease-Out;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all 0.5s ease-Out;
}

#button-6:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #bfc0c0;
  transform: rotate(80deg);
}

#button-6:hover a {
  color: #2d3142;
}

/* Header Content Styling  */

.textStyle {
  font-size: 2.5rem;
  color: white;
}

h1 {
  color: grey;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

#headerContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 3rem;
}

.header {
  font-size: 1.2rem;
  color: #ffbf00;
  text-align: left;
}

.socialContainer {
  margin-top: 1.6rem;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialContainer a{
margin: 0 2rem;
}

/* FortyTwo Button Styling */

.FortyTwo-button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  margin: 20px 20px 20px 20px;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#FortyTwo {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#FortyTwo a {
  color: black;
  position: relative;
  transition: all 0.45s ease-Out;
}

#FortyTwospin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all 0.5s ease-Out;
}

#FortyTwo:hover #FortyTwospin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #1f1f1f;
  transform: rotate(80deg);
}

#FortyTwo:hover a {
  color: red;
}

/* Footer Styling */

.App-footer {
  background-color: black;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Project Item List*/

.ProjectItem {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  border: 2px solid #bfc0c0;
  padding: 0 2rem;
  margin: 4vh auto;
}

.ProjectItem p {
  color: #ffbf00;
}

.projectTitle h2 {
  display: flex;
  align-items: flex-start;
  margin: 2rem 3rem;
}

.projectLinkImg {
  height: 10vh;
  width: 10vh;
}

.projectLinks {
  width: 15%;
  display: flex;
  justify-content: space-around;
}


/* Skills List */

.skillSection{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}


.skillSection p {
  margin: 2rem 3rem;
  color: white;
}

.skillSection li {
  margin: 0 3rem;
  color: #ffbf00
}

.skillListItems{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
}

.svg-link{
  background-color: transparent;
  color:  #ffbf00;
  text-decoration: none;
  text-transform: uppercase;
  width: 8rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  position: relative;
  margin: .4rem .4rem;
}


.svg-link svg{
  position: absolute;
  width: 100%;
  height: 100%;
}

.outline{
  width: 100%;
  height: 100%;
  stroke-width: .4rem;
  stroke: #ffbf00;
  fill: transparent;
  stroke-dasharray: 59 235;
  stroke-dashoffset: -235;
  transition: all 0.9s;
}

.svg-link:hover{
  color: #ffbf00;
}

.svg-link:hover .outline{
  stroke-width: .2rem;
  stroke-dashoffset: 0;
  stroke-dasharray: 379;
}